@use 'styles/variables' as *;

.page {
  min-height: 100vh;
  background-color: $cursos-bg;
}

.inner {
  margin: 0 auto;
  max-width: 80rem;
  padding: 5rem 1rem 2.5rem;

  @include sm {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include lg {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5.25rem;
  }
}
