.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background: linear-gradient(to bottom right, #3b82f6, #9333ea);
  color: #fff;
  font-weight: 600;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  object-fit: cover;
}

.sizeSm {
  height: 2rem;
  width: 2rem;
  font-size: 0.75rem;
}

.sizeMd {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 0.875rem;
}

.sizeLg {
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
}
